<section id="page-home" class="container-fluid clear-padding">
  <div class="row no-gutter">
    <header class="d-flex align-items-center justify-content-center">
      <h1>I'm a Front-end specialist</h1>
    </header>
    
  </div>
  
  <!-- ME BLOCK -->
  <div class="body-content row  no-margin">

    <div class="col-6 mh-300">
      <div class="d-flex align-items-center justify-content-end color-block">
        <h2>/me</h2>
      </div>
    </div>

    <div class="col-6 d-flex align-items-center">
      <p class="pl-4">
      Caio Henrique Lavos de Moraes, 30, frontend developer.
      Working with technology as a Web developer since 2009.
      Professional focused on interface using technologies such as,
      HTML, CSS, Javascript, AngularJS, Angular, Typescript and preprocessors.
      Apis architecture and web services integration are also part of my skills.
      
      Enthusiast of agile and UX methodologies.
      </p>
    </div>
  </div>

  <!-- ANGULAR BLOCK -->
  <div class="body-content row red-block no-margin">
    <div class="col-6 d-flex align-items-center">
      <p class="pl-4">
        During my professional career I worked a lot with the Angular framework. As a result I ended up specializing in SPAs production based on this technology
      </p>
      
    </div>

    <div class="col-6 mh-300 color-block d-flex align-items-center pr-0">
      <img src="../../../assets/images/common/angular.png" alt="">
    </div>
  </div>

  <!--CONTRIB BLOCK-->
  <div class="body-content my-contrib row no-margin">
    <div class="col-12">
      <h3>/companies that I could help</h3>
    </div>

    <div class="box white-block d-flex justify-content-between align-items-center" style="height: 300px;">
      
      <div class="image">
        <img src="../../../assets/images/companies/logo-accenture-cinza.png" alt="">
      </div>
      
      <div>
        <ul class="no-gutter">
          <li>
            <p>2007/2009</p>
            <small>Occupation:</small>
            <span>Front-end Specialist</span>
          </li>
          <li>
            
          </li>
        </ul>
      </div>

      <div>
        <small>Technologies</small>
        <ul class="no-gutter">
          <li>Node.js</li>
          <li>Websockets</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
        </ul>
      </div>

      <div>
        <small>Attributions:</small>
        <ul class="no-gutter">
          <li>Services Integrations</li>
          <li>Layout Structure</li>
          <li>Analysis of Business requirements</li>
          <li>Designing the Application as per the new requirements and change requests</li>
          <li>Git Hub repository to check-in the code into the repository</li>
          <li>Designed layouts to pixel perfect match wireframes</li>
        </ul>
      </div>
    </div>

    <div class="box gray-block d-flex justify-content-between align-items-center" style="height: 300px;">
      <img src="../../../assets/images/companies/logo-buscape.png" alt="">
      
      <div>
        <ul class="no-gutter">
          <li>
            <p>2007/2009</p>
            <small>Occupation:</small>
            <span>Front-end Specialist</span>
          </li>
          <li>
            
          </li>
        </ul>
      </div>

      <div>
        <small>Technologies</small>
        <ul class="no-gutter">
          <li>Node.js</li>
          <li>Websockets</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
        </ul>
      </div>

      <div>
        <small>Attributions:</small>
        <ul class="no-gutter">
          <li>Services Integrations</li>
          <li>Layout Structure</li>
          <li>Analysis of Business requirements</li>
          <li>Designing the Application as per the new requirements and change requests</li>
          <li>Git Hub repository to check-in the code into the repository</li>
          <li>Designed layouts to pixel perfect match wireframes</li>
        </ul>
      </div>
    </div>

    <div class="box white-block d-flex justify-content-between align-items-center" style="height: 300px;">
      
      <div class="image">
        <img src="../../../assets/images/companies/logo-catho.png" alt="">
      </div>
      
      <div>
        <ul class="no-gutter">
          <li>
            <p>2007/2009</p>
            <small>Occupation:</small>
            <span>Front-end Specialist</span>
          </li>
          <li>
            
          </li>
        </ul>
      </div>

      <div>
        <small>Technologies</small>
        <ul class="no-gutter">
          <li>Node.js</li>
          <li>Websockets</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
        </ul>
      </div>

      <div>
        <small>Attributions:</small>
        <ul class="no-gutter">
          <li>Services Integrations</li>
          <li>Layout Structure</li>
          <li>Analysis of Business requirements</li>
          <li>Designing the Application as per the new requirements and change requests</li>
          <li>Git Hub repository to check-in the code into the repository</li>
          <li>Designed layouts to pixel perfect match wireframes</li>
        </ul>
      </div>
    </div>

    <div class="box gray-block d-flex justify-content-between align-items-center" style="height: 300px;">
      
      <div class="image">
        <img src="../../../assets/images/companies/logo-gok.png" alt="">
      </div>
      
      <div>
        <ul class="no-gutter">
          <li>
            <p>2007/2009</p>
            <small>Occupation:</small>
            <span>Front-end Specialist</span>
          </li>
          <li>
            
          </li>
        </ul>
      </div>

      <div>
        <small>Technologies</small>
        <ul class="no-gutter">
          <li>Node.js</li>
          <li>Websockets</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
        </ul>
      </div>

      <div>
        <small>Attributions:</small>
        <ul class="no-gutter">
          <li>Services Integrations</li>
          <li>Layout Structure</li>
          <li>Analysis of Business requirements</li>
          <li>Designing the Application as per the new requirements and change requests</li>
          <li>Git Hub repository to check-in the code into the repository</li>
          <li>Designed layouts to pixel perfect match wireframes</li>
        </ul>
      </div>
    </div>

    <div class="box white-block d-flex justify-content-between align-items-center" style="height: 300px;">
      
      <div class="image">
        <img src="../../../assets/images/companies/logo-drs.png" alt="">
      </div>
      
      <div>
        <ul class="no-gutter">
          <li>
            <p>2007/2009</p>
            <small>Occupation:</small>
            <span>Front-end Specialist</span>
          </li>
          <li>
            
          </li>
        </ul>
      </div>

      <div>
        <small>Technologies</small>
        <ul class="no-gutter">
          <li>Node.js</li>
          <li>Websockets</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
        </ul>
      </div>

      <div>
        <small>Attributions:</small>
        <ul class="no-gutter">
          <li>Services Integrations</li>
          <li>Layout Structure</li>
          <li>Analysis of Business requirements</li>
          <li>Designing the Application as per the new requirements and change requests</li>
          <li>Git Hub repository to check-in the code into the repository</li>
          <li>Designed layouts to pixel perfect match wireframes</li>
        </ul>
      </div>
    </div>

    <div class="box gray-block d-flex justify-content-between align-items-center" style="height: 300px;">
      
      <div class="image">
        <img src="../../../assets/images/companies/logo-isee.png" alt="">
      </div>
      
      <div>
        <ul class="no-gutter">
          <li>
            <p>2007/2009</p>
            <small>Occupation:</small>
            <span>Front-end Specialist</span>
          </li>
          <li>
            
          </li>
        </ul>
      </div>

      <div>
        <small>Technologies</small>
        <ul class="no-gutter">
          <li>Node.js</li>
          <li>Websockets</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
        </ul>
      </div>

      <div>
        <small>Attributions:</small>
        <ul class="no-gutter">
          <li>Services Integrations</li>
          <li>Layout Structure</li>
          <li>Analysis of Business requirements</li>
          <li>Designing the Application as per the new requirements and change requests</li>
          <li>Git Hub repository to check-in the code into the repository</li>
          <li>Designed layouts to pixel perfect match wireframes</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="body-content skills row d-flex no-margin">
    <div class="col-12">
      <h3>/key skills</h3>
      <div class="bar learning" data-skill="Javascript"></div>
      <div class="bar back basic" data-skill="Angular2 +"></div>
      <div class="bar back intermediate" data-skill="SCSS"></div>
      <div class="bar front advanced" data-skill="Rest API"></div>
      <div class="bar front expert" data-skill="Service Integration"></div>
    </div>
  </div>




</section>